<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="container">
            <div id="content">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Voucher Manager</h1>
                    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                </div>

                <!-- Content Row -->
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">List all vouchers</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead class="bg-gray-200">
                                        <tr>
                                            <th>#ID</th>
                                            <th>Voucher Info</th>
                                            <th>Description</th>
                                            <th>Created</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tfoot class="bg-gray-200">
                                        <tr>
                                            <th>#ID</th>
                                            <th>Voucher Info</th>
                                            <th>Description</th>
                                            <th>Created</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                        </tfoot>
                                        <tbody id="tableDetail">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                    $(document).ready(handlLoad());
                    function handlLoad() {
                        if (document.cookie.indexOf("token") >= 0) {
                            $("#username").text($.cookie("email"));
                            $("#avatar").attr("src",$.cookie("avatar"));
                            var listAcc = $("#listAcc");
                            listAcc.html('');

                            $.get("component/baseUrl.conf", function (config) {
                                url = config + 'api/admin/stores/vouchers';
                                console.log(url.replace(/(\r\n|\n|\r)/gm, ""));
                                $.ajax({
                                    url: url,
                                    method: 'GET',
                                    headers: {
                                        'Content-Type': 'application/json',
                                        Authorization: $.cookie("token"),
                                    },
                                    success: function (data) {
                                        console.log(data.data);
                                        var tableDetail = $("#tableDetail");
                                        tableDetail.html('');
                                        $.each(data.data, function (i, v) {
                                            
                                                var btn = '';
                                                var status = '';
                                                if (v.status == '0') {
                                                    status = '<strong class="text-danger">INACTIVE</strong>';
                                                    btn = '<button id="active" onclick="handlClick($(this))" tag="' + v.id + '" class="btn btn-flat bg-success"><strong class="text-white">Active this voucher</strong></button>';
                                                } else if (v.status == '1') {
                                                    status = '<strong class="text-success">ACTIVE</strong>';
                                                    btn = '<button id="deactive" onclick="handlClick($(this))" tag="' + v.id + '" class="btn btn-flat bg-danger"><strong class="text-white">Deactive this voucher</strong></button>';
                                                }

                                            tableDetail.append('<tr>\n' +
                                                '                                            <th class="mb-2">#'+ v.id +'</th>\n' +
                                                '                                            <th>\n' +
                                                '                                                <p class="text-center"><img class="img-thumbnail" width="240px" src="'+ v.icon +'" alt=""></p>\n' +
                                                '                                                <p class="text-center"><strong>'+ v.name +'</strong></p>\n' +
                                                '                                                <p class="text-center">'+ v.nameUnAccent +'</p>\n' +
                                                '                                                <p class="text-center"><strong class="text-success bg-ticker-image p-3 mt-2 my-4">'+ v.codeSale +'</strong></p>\n' +
                                                '                                            </th>\n' +
                                                '\n' +
                                                '                                            <th>\n' +
                                                '                                                <p class="text-center"><img class="img-thumbnail" width="180px" src="'+ v.image +'" alt=""></p>\n' +
                                                '                                                <p class="text-center"><strong>'+ v.typeVoucher +' - '+ v.percent +'% OFF</strong></p>\n' +
                                                '                                                <p class="text-center">'+ v.description +'</p>\n' +
                                                '                                                <p><hr></p>\n' +
                                                '                                                <p class="text-center">From '+ v.startDay +' to '+ v.expiredDay +'</p>\n' +
                                                '\n' +
                                                '                                            </th>\n' +
                                                '                                            <th>\n' +
                                                '                                                <p class="text-center">'+ v.created +'</p>\n' +
                                                '                                            </th>\n' +
                                                '                                            <th>'+ status +'</th>\n' +
                                                '                                            <th>'+ btn +'</th>\n' +
                                                '                                        </tr>');
                                        })
                                    },
                                    error: function (xhr, option, e) {
                                        if (xhr.status == 401){
                                            $.removeCookie("token");
                                            window.location.href = 'login.html';
                                        } else {
                                            alert("Internal server error!");
                                        }
                                    }

                                });
                            })


                        }
                        else window.location.href = 'login.html';

                    };

                    function handlLogout() {
                        $.removeCookie("token");
                        $.removeCookie("email");
                        $.removeCookie("avatar");
                        $.removeCookie("component");
                        window.location.href = 'login.html';
                    }

                    function handlClick($this) {
                        alert('Ke cho thang store update!');
                    }
                </script>
            </div>
        </div>
    </body>
</html>
